@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {

  font-family: "arial";
  src: url("/fonts/arial.ttf");

  font-family: "arialK";
  src: url("/fonts/ARIBLK.ttf");

  font-family: iransans;
  src: url("/fonts/iransans");

}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: iransans; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
